.container {
  display: grid;
  grid-template-columns: 20vw 1fr 20vw;
  grid-gap: 3em;
  width: 100%;
  padding: 10px;
  flex-shrink: 0;
  height: 7vh;
}

.container .levelsNavbar {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.container .helpNavbar {
  display: flex;
  justify-content: flex-end;
  margin-right: 2em;
}

.container .helpNavbar .helpIconsButton {
  outline: none;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  cursor: pointer;
  animation: 0.3s linear ease;
}

.container .helpNavbar .helpIconsButton svg {
  width: 5em;
  height: 5rem;
}

/* .container .helpNavbar #helpIcon svg {
  width: 5.5em;
  height: 5.5rem;
} */

.container .helpNavbar .helpIconsButton:hover svg {
  transform: scale(1.12);
}

.containerBackground {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5vh;
}

.backgroundOptions {
  background-color: yellow;
  /* height: min(60%, var(--kbd-container-height) * 0.6); */
  width: var(--header-title-width);
  border-radius: 30px;
  box-shadow: -6px 9px 12px 0px rgba(0,85,196,1);
  padding: 8px;
}

.containerBackground h1 {
  margin: 0;
  /* font-size: min(2rem, calc(100vw / 10)); */
  font-size: 1.5em;
  font-weight: normal;
  font-family: PokemonPixel;
}

