.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.row > div {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid #615458;
  border-radius: 10%;
  margin: 4px;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.7em;
  color: #eee;
}

.row > div.green {
  --background: #5ac85a;
  --border-color: #5ac85a;
  animation: 0.45s linear flip 0s forwards;
}

.row > div.grey {
  --background: #3d3639;
  --border-color: #3d3639;
  animation: 0.45s linear flip 0s forwards;
}

.row > div.yellow {
  --background: #e2cc68;
  --border-color: #e2cc68;
  animation: 0.45s linear flip 0s forwards;
}

.row > div:nth-child(2) {
  animation-delay: 0.4s;
}

.row > div:nth-child(3) {
  animation-delay: 0.8s;
}

.row > div:nth-child(4) {
  animation-delay: 1.2s;
}

.row > div:nth-child(5) {
  animation-delay: 1.6s;
}

.row > div:nth-child(6) {
  animation-delay: 2.0s;
}

.row > div:nth-child(7) {
  animation-delay: 2.4s;
}

.row > div:nth-child(8) {
  animation-delay: 2.8s;
}

.row > div:nth-child(9) {
  animation-delay: 3.2s;
}

.row > div:nth-child(10) {
  animation-delay: 3.6s;
}

.row.current > div.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

div.empty {
  border: 1px solid #615458;
  background-color: #615458
}