.gridContainer {
  width: var(--game-container-width);
  margin: 0 auto;
  margin-top: 5em;
} 

.row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1.7505em;
  margin: 0;
  margin-bottom: 1em;
}

.row > div {
  border-bottom: 3px solid #000;

  font-weight: normal;
  font-family: PokemonPixel;
  line-height: 2em;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
  color: #eee;
}

.row > div.green {
  /* --background: #5ac85a; */
  --border-color: #5ac85a;
  animation: 0.45s linear flip 0s forwards;
}

.row > div.grey {
  /* --background: #3d3639; */
  --border-color: #3d3639;
  animation: 0.45s linear flip 0s forwards;
}

.row > div.yellow {
  /* --background: #e2cc68; */
  --border-color: #e2cc68;
  animation: 0.45s linear flip 0s forwards;
}

.row > div.greenOnly {
  /* background: #5ac85a; */
  border-color: #5ac85a;
}

.row > div.greyOnly {
  /* background: #3d3639; */
  border-color: #3d3639;
}

.row > div.yellowOnly {
  /* background: #e2cc68; */
  border-color: #e2cc68;
}

.row > div:nth-child(2) {
  animation-delay: 0.4s;
}

.row > div:nth-child(3) {
  animation-delay: 0.8s;
}

.row > div:nth-child(4) {
  animation-delay: 1.2s;
}

.row > div:nth-child(5) {
  animation-delay: 1.6s;
}

.row > div:nth-child(6) {
  animation-delay: 2.0s;
}

.row > div:nth-child(7) {
  animation-delay: 2.4s;
}

.row > div:nth-child(8) {
  animation-delay: 2.8s;
}

.row > div:nth-child(9) {
  animation-delay: 3.2s;
}

.row > div:nth-child(10) {
  animation-delay: 3.6s;
}

.row.current > div.filled {
  animation: bounce 0.2s ease-in-out forwards;
}

div.empty {
  /* border: 1px solid #615458;
  background-color: #615458 */
  height: 2em;
}